<!--
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="/javascripts/js.cookie.js"></script>
      <script src="/javascripts/bartinder.js"></script>
      <script src="/javascripts/clicker.js"></script>
      <script src="/javascripts/index.js"></script>
      <script src="/javascripts/home.js"></script>
      <script src="/javascripts/register.js"></script>
      <script src="/javascripts/login.js"></script>
       <script src="/javascripts/new.js"></script>

  </body>
</html> -->