<!DOCTYPE html>
<html>
   <head>
      <title>BarTinder</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel='stylesheet' href='stylesheets/normalize.css'/>
      <link rel="stylesheet" href="stylesheets/animate.min.css">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
      <link rel='stylesheet' href='stylesheets/style.css'/>
      <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Shadows+Into+Light' rel='stylesheet' type='text/css'>
   </head>
   <body>

      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
            <div class="row">
               <span class="col-xs-1"></span>
               <a href="/home"><h1 class="nav_header col-xs-9"><img class="logo" src="/images/LogoOnly4.png"><span class="bar">Bar</span><span class="tinder">Tinder</span></h1></a>
               <div class="navbox col-xs-2">
                  <a class="navlink" href="/register">Register</a>
                  <br>
                  <a class="navlink" href="/login">Login</a>
                  <br>
                  <a class="navlink" href="/clicker">Clicker</a>
                  <br>
                  <a class="navlink" href="/">About</a>
               </div>
            </div>
         </div>
      </nav>
