
		<% include ./partials/header %>


<!--     about page details here
 -->


      <div class="index container-fluid">
         <br>
         <h4>Keep track of capacity and find poppin’ places</h4>
         <div>
            <img class="about_img" src="/images/LogoOnlyTest.png" align="middle">
         </div>
         <h4>Why BarTinder?</h4>
         <p class="about_info">BarTinder brings technology &amp; people to the entrance of your establishment. 
         Help your doormen or bouncers digitally keep track of the patrons entering &amp; exiting your venue. Hardly anyone in your bar? Post  drink specials to draw in the crowds. Leave your mechanical clicker at the curb &amp; get BarTinder, the mobile tally counter!</p>

         <h4>Hipsters love BarTinder</h4>
         <p class="about_info">Get matched with a cool club or chill bar! Swipe right to view to the next random venue. Tap the venue name to view the location &amp; hours. Party on, Wayne! </p>
      </div>
 		  <nav class="navbar navbar-default navbar-fixed-bottom">
 			 <div class="footbox">
 			 </div>
 		  </nav>

   <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
   <script src="/javascripts/index.js"></script>
   </body>
</html>