      <% include ./partials/header %>

      <div class="container-fluid">
         <div class="venue_stats register">
            <h2 class="page_title">Register:</h2>
            <br>
            <form class="new_user_form" name="new_user_form" action="/new_user" method="POST">
               <input class="input_box" type="text" name="name" placeholder="User Name...">
               <br><br>
               <input class="input_box" type="password" name="password" placeholder="Password...">
               <br><br>
               <select class="venue_drop" name="venues">  <option disabled>Choose Venue...</option>
                  <% for (var i = 0; i<venue_name.length;i++){ %>
                  <option value="<%= venue_id[i] %>"><%= venue_name[i] %></option>
                  <% } %>
               </select>
               <nav class="navbar navbar-default navbar-fixed-bottom">
                  <div class="footbox">
                     <input class="submit-btn" type="submit" name="submit" value="Register">
                  </div>
               </nav>
            </form>
         </div>
      </div>

   <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
   <script src="/javascripts/register.js"></script>
   </body>
</html>